#resume .resume-item{
    border-left: 2px solid #34b7a7;
    padding: 0 0 20px 20px;
    position: relative;
}

#resume .resume-item::before{
    content: "";
    position: absolute;
    border: 2px solid #34b7a7;
    width: 16px;
    height: 16px;
    left: -9px;
    top: 0;
    background-color: #34b7a7;
    border-radius: 50%;
}

.resume-item h4{
    line-height: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #1d685f;
    font-family: "Poppins",sans-serif !important;
    margin-bottom: 10px;
}

.resume-item h5{
    font-size: 14px;
    background-color: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
    color: #34b7a7;
}

.resume-item p{
    font-family: "Roboto",sans-serif !important;
    font-size: 14px;
}