
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');


body {
  margin: 0;
  font-family: 'Open Sans',sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#footer .shadow-lg{
  background: rgba(15, 13, 13,0.66);
  width: 100%;
  color: #fff;
  backdrop-filter: blur(8px);
}

.text-title{
  color: #34b7a7 !important;
}

.bg-theme{
  background-color: #34b7a7;
}